.dv-instructor {
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 5%;
  padding-right: 5%;
background-color:rgbrgb(255,255,255);
  
  .ML {
    padding-top: 0;
  }
  .instructor h1{
    font-weight: bold;
    text-align: center;
  }

  .h5 {
    font-weight: 700;
  }

  .card {
   
    text-decoration: none;
padding-top: 8%;
padding-bottom: 8%;
// padding-left: 6%;
padding-right: 6%;
  margin-top: 15%;
    margin-bottom: 5%;

    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

 
.tickmark{
  width: 26px;
}
 

  .btn {
    padding: 15px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0080ff;
    color: white;
    font-weight: 600;
  }
  .btn-style {

    margin-top: 30px;
  }

  .btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: #0080ff;
    border: 1px solid #0080ff;
  }
  .w-100{
    padding: 5%;
  }

  // @media (max-width: 375.98px)
//   @media (min-width: 320px) and (max-width: 768px) 
  
// {
//  .instructor h1 {
//   font-weight: bold;
//   text-align: center;

//   font-size: 19px;
//  }
//  .tickmark{
//   width: 15px;
//   height: 15px;
//   margin-left: 5px;
//   margin-top: 3px;
  
//  }

//  .w-100{
//   padding-top: 3%;
//   padding-left: 10%;
//   padding-right: 10%;

//  }
//  .h5{
//   font-size: 10px;
//   margin-top: 10px;
//   // padding-left: 5px;
//  }
//  .card{
//   margin-bottom: 5px ;
//  }



//  .btn-style{
//   text-align: center;
//   margin: 8%;
  
//  }
//  .btn{
//   font-size: 12px;
//   padding: 10px;
//   margin: 0;
  
//  }


//  }

// @media (min-width: 375px) and (max-width: 767.98px)
// {
//  @media (orientation: portrait) {
//  .instructor h1 {
//    font-weight: bold;
//    text-align: center;
//    font-size: 19px;
// }


//  }
//  .tickmark{
//   width: 15px;
//   height: 15px;
//   margin-left: 5px;
//   margin-top: 3px;
  
//  }

//  .w-100{
//   padding-top: 3%;
//   padding-left: 10%;
//   padding-right: 10%;

//  }
//  .h5{
//   font-size: 10px;
//   margin-top: 10px;
//   // padding-left: 5px;
//  }
//  .card{
//   margin-bottom: 5px ;
//  }



//  .btn-style{
//   text-align: center;
//   margin: 8%;
  
//  }
//  .btn{
//   font-size: 12px;
//   padding: 10px;
//   margin: 0;
  
//  }
//  .tickmark{
//   width: 530px;
//   height: 30px;
//   margin-left: 5px;
//   margin-top: 3px;
  
//  }









// }

// @media (orientation: landscape) {
//   .instructor h1 {
//     font-weight: bold;
//     text-align: center;
//     font-size: 23px;
//  }
//  .h5{
//   font-size: 20px;
//  }
//  .tickmark{
//   width: 30px;
//   height: 30px;
//   margin-left: 5px;
//   margin-top: 8px;
  
//  }
//  .btn{
//   font-size: 15px;
//   padding: 10px;
//   margin: 0;
  
//  }


 
// }
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  

  .instructor h1{
    font-size: 1.4em;
 
}
.ML{
  width: 300px;
  margin:  0 16px;
}
.h5{
 font-size: 12px;
 padding-top: 5px;
}
.tickmark{
  width: 20px;
 margin-left: 5px;
}
.btn{
  display: none;
}
.card{
  padding-right: 0;
}



  
}
// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px)
// {
  

//   .instructor h1{
//     font-size: 1.8em;
 
// }
// .ML{
//   width: 300px;
//   margin:  0 25%;
// }
// .h5{
//  font-size: 1em;
//  padding-top: 5px;
// }
// .tickmark{
//   width: 25px;
// padding-top: 3px;
// }
// .btn{
//   display: none;
// }
// .card{
//   padding-right: 0;
//   margin: 1rem;
// }
// .row{
//   margin: 0;
// }



  
// }
}


