body {
    margin: 0;
    font-family: 'Jost', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Jost', sans-serif;

    
  }
 
  *{
    font-family: 'Jost', sans-serif;
   /* font-family: 'Nunito', sans-serif; */

  }

 .fs-14{
  font-size: 14px;
 }
 .fs-16{
  font-size: 16px;
 }
 .fs-18{
  font-size: 18px;
 }
 .fs-20{
  font-size: 20px;
 } 

 /* .h1{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
 }
 .h2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
 }
 .h3{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
 }
 .h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
 }
 
 .h5{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
 }
 .h6{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
 }
 .p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
 } */

 /* styles.css */

/* Normal styles for all screen sizes */
/* body {
  font-size: 16px;
} */

/* Media query for screens smaller than 600px */
/* @media (max-width: 600px) {
  body {
    font-size: 14px;
  }
} */

/* Media query for screens between 601px and 1200px */
/* @media (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 18px;
  }
} */

/* Media query for screens larger than 1200px */
/* @media (min-width: 1201px) {
  body {
    font-size: 20px;
  }
} */

